In [1]:
#building Ml model for breast cancer data
# importing the libraries
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv("/content/breast-cancer-wisconsin.csv", header = None)

In [3]:
df.head()

        0   1   2   3   4   5     6   7   8   9   10
0  1000025   5   1   1   1   2   1.0   3   1   1   2
1  1002945   5   4   4   5   7  10.0   3   2   1   2
2  1015425   3   1   1   1   2   2.0   3   1   1   2
3  1016277   6   8   8   1   3   4.0   3   7   1   2
4  1017023   4   1   1   3   2   1.0   3   1   1   2

In [4]:
df = df.dropna()

In [5]:
df.shape

(683, 11)

In [6]:
x = df.iloc[:,:10].values
y = df.iloc[:,10:].values

In [7]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors import  KNeighborsClassifier
from sklearn import metrics

In [8]:
#Split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)

In [9]:
knn = KNeighborsClassifier(n_neighbors=2)

In [10]:
knn.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=2)

In [11]:
print(knn.score(x_test,y_test))

0.6423357664233577

In [14]:
y_pred = knn.predict(x_test)

In [15]:
mse = mean_squared_error(y_pred,y_test)

rmse = math.sqrt(mse)

print(rmse)

1.1961007208034653